ros2interface==0.18.17
rosidl-runtime-py==0.9.3
ament-package==0.14.2
ament-xmllint==0.12.15
examples-rclpy-minimal-publisher==0.15.5
rosidl-cli==3.1.8
ros2param==0.18.17
ament-lint==0.12.15
launch-testing==1.0.14
rqt-srv==1.0.3
ros2controlcli==2.53.1
generate-parameter-library-py==0.6.0
camera-calibration==3.0.9
ament-cpplint==0.12.15
rqt-bag==1.1.6
tf2-tools==0.25.19
rqt-gui==1.1.9
tf2-ros-py==0.25.19
rqt-plot==1.1.5
rqt-console==2.0.3
examples-rclpy-minimal-subscriber==0.15.5
rqt-gui-py==1.1.9
ament-cppcheck==0.12.15
rqt-service-caller==1.0.5
ros2plugin==5.1.3
ament-uncrustify==0.12.15
rqt-shell==1.0.2
examples-rclpy-minimal-action-client==0.15.5
osrf-pycommon==2.1.6
quality-of-service-demo-py==0.20.8
launch==1.0.14
ros2cli==0.18.17
ros2action==0.18.17
ros2component==0.18.17
ament-flake8==0.12.15
launch-testing-ros==0.19.13
examples-rclpy-minimal-action-server==0.15.5
ros2run==0.18.17
ros2doctor==0.18.17
rqt-py-console==1.0.2
action-tutorials-py==0.20.8
domain-coordinator==0.10.0
ros2topic==0.18.17
examples-rclpy-minimal-client==0.15.5
demo-nodes-py==0.20.8
launch-ros==0.19.13
sensor-msgs-py==4.9.1
rqt-action==2.0.1
gazebo-video-monitor-utils==0.8.1
ament-index-python==1.4.1
ros2bag==0.15.16
ros2node==0.18.17
ament-pep257==0.12.15
teleop-twist-keyboard==2.4.1
ament-copyright==0.12.15
examples-rclpy-minimal-service==0.15.5
ros2launch==0.19.13
rpyutils==0.2.2
ros2multicast==0.18.17
topic-monitor==0.20.8
ros2lifecycle==0.18.17
ros2pkg==0.18.17
rqt-msg==1.2.0
sros2==0.10.9
ament-lint-cmake==0.12.15
ros2service==0.18.17
rqt-reconfigure==1.1.3
rqt-publisher==1.5.0
launch-xml==1.0.14
rqt-topic==1.5.1
launch-yaml==1.0.14
rqt-graph==1.3.2
examples-rclpy-executors==0.15.5
rqt-bag-plugins==1.1.6
nav-msgs==4.9.1
qt-gui-cpp==2.2.4
gazebo-model-attachment-plugin==1.0.3
resource-retriever==3.1.3
rcutils==5.1.8
pcl-msgs==1.0.0
trajectory-msgs==4.9.1
rosidl-cmake==3.1.8
rcl-interfaces==1.2.2
stereo-msgs==4.9.1
tf2-geometry-msgs==0.25.19
controller-manager==2.53.1
statistics-msgs==1.2.2
python-qt-binding==1.1.3
rosbag2-py==0.15.16
ackermann-msgs==2.0.2
nmea-msgs==2.0.0
rosidl-typesupport-c==2.0.2
ros-gz-interfaces==0.244.22
qt-dotgraph==2.2.4
gazebo-msgs==3.9.0
example-interfaces==0.9.3
sensor-msgs==4.9.1
std-msgs==4.9.1
interactive-markers==2.3.2
pendulum-msgs==0.20.8
rclpy==3.3.20
rosidl-generator-c==3.1.8
diagnostic-msgs==4.9.1
lifecycle-msgs==1.2.2
laser-geometry==2.4.1
ament-cmake-test==1.3.13
angles==1.15.0
geometry-msgs==4.9.1
vision-msgs==4.1.1
tf2-msgs==0.25.19
message-filters==4.3.14
rosidl-generator-py==0.14.6
controller-manager-msgs==2.53.1
rosbag2-interfaces==0.15.16
rtcm-msgs==1.1.6
logging-demo==0.20.8
unique-identifier-msgs==2.2.1
image-geometry==3.2.1
rosidl-typesupport-fastrtps-c==2.2.4
qt-gui-py-common==2.2.4
rosidl-parser==3.1.8
rosidl-typesupport-fastrtps-cpp==2.2.4
scripts==3.9.0
rosidl-typesupport-cpp==2.0.2
rmw-dds-common==1.6.0
shape-msgs==4.9.1
composition-interfaces==1.2.2
rosidl-typesupport-introspection-c==3.1.8
action-msgs==1.2.2
tf2-kdl==0.25.19
qt-gui==2.2.4
rosidl-generator-cpp==3.1.8
map-msgs==2.1.0
builtin-interfaces==1.2.2
cv-bridge==3.2.1
rosidl-typesupport-introspection-cpp==3.1.8
actionlib-msgs==4.9.1
tf2-sensor-msgs==0.25.19
tf2-py==0.25.19
control-msgs==4.8.0
std-srvs==4.9.1
action-tutorials-interfaces==0.20.8
rosgraph-msgs==1.2.2
gazebo-model-attachment-plugin-msgs==1.0.3
turtlesim==1.4.3
gazebo-video-monitor-interfaces==0.8.1
visualization-msgs==4.9.1
xacro==2.1.1
rosidl-adapter==3.1.8
gps-msgs==2.1.1
actuator-msgs==0.0.1
rqt-py-common==1.1.9
fairscale==0.4.13
backoff==2.2.1
weasel==0.4.1
psygnal==0.15.0
language_data==1.3.0
trafilatura==2.0.0
fonttools==4.61.1
blobfile==3.1.0
libucxx-cu12==0.43.0
pybase64==1.4.2
pycparser==2.23
tzdata==2025.2
isodate==0.7.2
lap==0.5.12
pynndescent==0.5.13
nvidia-curand-cu12==10.3.9.90
dominate==2.9.1
libcuml-cu12==25.4.0
libcuvs-cu12==25.4.0
dependency-groups==1.3.1
humanize==4.14.0
opencensus==0.11.4
cloudpickle==3.1.1
pynvml==12.0.0
murmurhash==1.0.13
cachetools==6.2.1
virtualenv==20.35.4
bcrypt==5.0.0
vot-trax==4.0.2
open_clip_torch==3.2.0
pypose==0.7.3
cuda-bindings==12.9.4
box2d-py==2.3.5
locket==1.0.0
importlib_metadata==8.7.0
labelImg==1.8.6
nvidia-nvshmem-cu12==3.4.5
nvidia-cuda-nvrtc-cu12==12.8.93
pycodestyle==2.14.0
roboflow==1.2.3
dm-tree==0.1.9
dm-env==1.6
uc-micro-py==1.0.3
graspologic-native==1.2.5
hf_transfer==0.1.9
treelite==4.4.1
requests-file==3.0.1
probableparsing==0.0.1
annotated-types==0.7.0
requests-oauthlib==2.0.0
pylibraft-cu12==25.4.0
pymavlink==2.4.49
iniconfig==2.3.0
mujoco==3.3.6
tiktoken==0.7.0
jieba==0.42.1
charset-normalizer==3.4.4
pyserial==3.5
mypy_extensions==1.1.0
nvidia-dali-cuda120==1.50.0
tabulate==0.9.0
easydict==1.13
gensim==4.4.0
wasabi==1.1.3
httptools==0.7.1
ray==2.53.0
mmcv==2.1.0
pybind11==3.0.1
propcache==0.3.2
onnxruntime==1.22.1
pillow==12.1.1
linkify-it-py==2.0.3
msgspec==0.20.0
pycld2==0.42
clarabel==0.11.1
junitparser==4.0.2
jupyter_bbox_widget==0.6.0
colorlog==6.10.1
lazy_loader==0.4
pybind11-stubgen==2.5.5
widgetsnbextension==4.0.14
greenlet==3.2.4
sortedcontainers==2.4.0
partd==1.4.2
opentelemetry-semantic-conventions==0.58b0
cymem==2.0.11
imageio==2.37.0
cuda-pathfinder==1.3.3
aliyun-python-sdk-kms==2.16.5
tld==0.13.1
PyLaTeX==1.4.2
smmap==5.0.2
marisa-trie==1.3.1
opendatalab==0.0.10
rf100vl==1.1.0
langchain==0.3.27
datashaper==0.0.49
onnxscript==0.5.0
yacs==0.1.8
jsonschema==4.25.1
spacy-legacy==3.0.12
dataclasses-json==0.6.7
casadi==3.7.2
tifffile==2025.5.10
onnx-ir==0.1.9
ratelim==0.1.6
typing-utils==0.1.0
sentry-sdk==2.34.1
foundation-policy==1.0.2
oss2==2.17.0
lmdb==1.7.5
thinc==8.2.5
pyaml_env==1.2.2
progres==1.0.0
glfw==2.10.0
crossfit==0.0.9
anytree==2.13.0
pathspec==0.11.2
nvidia-cusolver-cu12==11.7.3.90
awscli==1.44.6
flatbuffers==25.2.10
nvidia-cudnn-cu12==9.10.2.21
opentelemetry-exporter-prometheus==0.58b0
fastrlock==0.8.3
wsproto==1.3.2
aiohttp==3.12.15
joblib==1.5.3
yarl==1.20.1
terminaltables==3.1.10
MAVProxy==1.8.74
preshed==3.0.10
referencing==0.37.0
pygame==2.6.1
presidio-analyzer==2.2.351
cligj==0.7.2
overrides==7.7.0
Flask==3.1.1
protobuf==4.21.12
pycryptodomex==3.23.0
in-place==0.5.0
yapf==0.43.0
external==0.0.1
botocore==1.42.16
mmh3==5.2.0
etils==1.13.0
cramjam==2.11.0
pynvjitlink-cu12==0.7.0
textblob==0.19.0
trimesh==4.7.1
typeguard==4.4.4
ui-server==0.0.13
google-api-core==2.28.1
ucx-py-cu12==0.43.0
posthog==5.4.0
dask==2025.2.0
azure-identity==1.25.1
tqdm==4.67.3
openmim==0.3.9
typing-inspect==0.9.0
diskcache==5.6.3
azure-common==1.1.28
future==1.0.0
astunparse==1.6.3
opentelemetry-exporter-otlp-proto-common==1.37.0
mwparserfromhell==0.6.5
cloudpathlib==0.23.0
bs4==0.0.2
l2f==2.0.18
pybind11-global==3.0.1
nvidia-cufft-cu12==11.3.3.83
sniffio==1.3.1
jiter==0.11.1
tensorboard-data-server==0.7.2
google-auth==2.41.1
PyPika==0.48.9
zipp==3.23.0
azure-search-documents==11.6.0
autoscraper==1.1.14
gtsam==4.3a1
dateparser==1.2.2
nvtx==0.2.14
gymnasium==1.2.0
osqp==1.0.4
pycryptodome==3.23.0
gym==0.26.2
azure-cosmos==4.14.0
kconfiglib==14.1.0
cycler==0.12.1
unsloth==2025.12.9
wheel==0.45.1
tblib==3.2.2
cuml-cu12==25.4.0
threadpoolctl==3.6.0
geocoder==1.38.1
langchain-core==0.3.79
python-magic==0.4.24
SQLAlchemy==2.0.44
jpeg4py==0.1.4
nvidia-cusparse-cu12==12.5.8.93
nox==2025.10.16
liecasadi==0.0.7
torchtune==0.6.1
supervision==0.26.1
POT==0.9.6.post1
stringzilla==4.0.7
dask-cuda==25.4.0
devtools==0.12.2
fastcrc==0.3.2
lxml==6.0.2
fast_pytorch_kmeans==0.2.2
pyflakes==3.4.0
distributed-ucxx-cu12==0.43.0
python-crfsuite==0.9.12
sentence-transformers==5.1.1
libcudf-cu12==25.4.0
progress==1.6.1
Cython==3.1.3
dm_control==1.0.34
gym-notices==0.1.0
pylibcugraph-cu12==25.4.1
pytools==2025.2.2
unidic-lite==1.0.8
watchfiles==1.1.0
multidict==6.6.4
polygraphy==0.49.26
rasterio==1.4.4
blis==0.7.11
xyzservices==2025.11.0
docstring_parser==0.17.0
requests-toolbelt==1.0.0
PyMuPDF==1.26.5
humanfriendly==10.0
gitdb==4.0.12
langsmith==0.4.34
warcio==1.7.4
docutils==0.19
phx-class-registry==5.1.0
fasttext==0.9.3
pydantic-settings==2.11.0
pypdf==6.1.1
cudf-cu12==25.4.0
build==1.3.0
smart_open==7.4.3
shtab==1.8.0
jsonschema-specifications==2025.9.1
jsonpointer==3.0.0
fastparquet==2024.11.0
ghapi==1.0.8
aliyun-python-sdk-core==2.16.0
pydantic_core==2.41.5
py-cpuinfo==9.0.0
mccabe==0.7.0
requests==2.32.5
spacy-loggers==1.0.5
lightglue==0.0
cosmos-xenna==0.1.2
kornia==0.8.1
webcolors==25.10.0
raft-dask-cu12==25.4.0
libucx-cu12==1.18.1
ninja==1.13.0
cattrs==25.3.0
rfdetr==1.2.1
numba-cuda==0.4.0
click-plugins==1.1.1.2
msgpack==1.1.1
wrapt==1.17.3
pillow-avif-plugin==1.5.2
marshmallow==3.26.1
mmengine==0.10.7
pycolmap==3.12.6
cut-cross-entropy==25.1.1
nvidia-nccl-cu12==2.27.5
nbtlib==1.12.1
nvidia-nvimgcodec-cu12==0.5.0.13
aiohttp-cors==0.8.1
ordered-set==4.1.0
cugraph-cu12==25.4.0
confection==0.1.5
torchmetrics==1.8.2
termcolor==3.1.0
py-spy==0.4.1
grpcio==1.74.0
dash==3.2.0
litellm==1.79.1
intelhex==2.3.0
jusText==3.0.1
prometheus_client==0.23.1
onnx==1.17.0
aiolimiter==1.2.1
coloredlogs==15.0.1
opentelemetry-exporter-otlp-proto-grpc==1.37.0
zict==3.0.0
pylabel==0.1.55
opencensus-context==0.1.3
presidio-anonymizer==2.2.351
clean-text==0.6.0
rapids-dask-dependency==25.4.0
librmm-cu12==25.4.0
zstandard==0.18.0
cvxpy==1.7.3
azure-core==1.36.0
proto-plus==1.27.0
beet==0.112.0
uvicorn==0.37.0
pylance==0.13.0
nvidia-cublas-cu12==12.8.4.1
siphash24==1.7
lance-namespace==0.0.20
mecha==0.99.0
nvidia-cusparselt-cu12==0.7.1
spacy==3.7.5
nemo_curator==0.9.0
Resiliparse==0.15.2
pyproject_hooks==1.2.0
frozenlist==1.7.0
kornia_rs==0.1.9
pytlsd==0.0.2
json_repair==0.52.4
mpmath==1.3.0
jmespath==0.10.0
peft==0.18.0
umap-learn==0.5.9.post2
mecab-python3==1.0.12
pytest==9.0.2
cuda-python==12.9.5
srsly==2.5.1
autograd==1.8.0
mmdet==3.3.0
ultralytics==8.4.6
scs==3.2.9
websocket-client==1.9.0
nvidia-cuda-cupti-cu12==12.8.90
libkvikio-cu12==25.4.0
mmtf-python==1.1.3
ratelimiter==1.2.0.post0
onnxslim==0.1.78
dronecan==1.0.27
networkx==3.4.2
nvidia-nvcomp-cu12==4.2.0.11
ml_dtypes==0.5.3
nvidia-nvjpeg2k-cu12==0.9.1.47
pyparsing==3.3.1
h5py==3.14.0
ucxx-cu12==0.43.0
tensorboard==2.20.0
emoji==1.7.0
statsmodels==0.14.5
langchain-community==0.3.31
pytorch-lightning==2.5.5
graphrag==0.0.1.dev30
phonenumbers==8.13.55
nvidia-nvtx-cu12==12.8.90
nvidia-nvjpeg-cu12==12.4.0.76
rapids-logger==0.1.19
msal-extensions==1.3.1
pylibcudf-cu12==25.4.0
blinker==1.9.0
filetype==1.2.0
attributee==0.1.9
swifter==1.4.0
openai==1.109.1
kiwisolver==1.4.9
pynmeagps==1.0.50
onnxruntime-gpu==1.22.0
async-timeout==4.0.3
toolz==1.1.0
dask-cudf-cu12==25.4.0
natsort==8.4.0
pyquaternion==0.9.9
bbox_visualizer==0.2.2
s3transfer==0.16.0
swig==4.3.1.post0
rsa==4.7.2
flake8==7.3.0
distributed==2025.2.0
torchvision==0.25.0
fastcore==1.8.14
tldextract==5.3.0
fsspec==2026.2.0
click-help-colors==0.9.4
mdit-py-plugins==0.5.0
pytz==2025.2
pydantic==2.12.5
cupy-cuda12x==12.3.0
pi_heif==1.1.0
catalogue==2.0.10
typing_extensions==4.15.0
argcomplete==3.6.3
triton==3.6.0
simsimd==6.5.3
attrs==25.4.0
pandas==2.2.3
ollama==0.6.0
tzlocal==5.3.1
babel==2.17.0
retrying==1.4.1
fnllm==0.4.1
torch==2.10.0
xxhash==3.6.0
ultralytics-thop==2.0.18
retry==0.9.2
FastWARC==0.15.2
jsonpatch==1.33
numba==0.60.0
pycocotools==2.0.10
shapely==2.1.1
unsloth_zoo==2025.12.7
fastjsonschema==2.21.1
visdom==0.2.4
azure-storage-blob==12.27.1
matplotlib==3.10.8
filterpy==1.4.5
llvmlite==0.43.0
addict==2.4.0
bokeh==3.8.1
deprecation==2.1.0
uv==0.9.18
narwhals==2.14.0
kagglehub==0.3.13
usaddress==0.5.10
multiprocess==0.70.16
icecream==2.1.4
segment_anything==1.0
polars-runtime-32==1.35.2
htmldate==1.9.4
pyros-genmsg==0.5.8
textual==0.70.0
faiss-cpu==1.12.0
lightning-utilities==0.15.2
uvloop==0.19.0
langcodes==3.5.0
dill==0.3.8
distinctipy==1.3.4
pyhocon==0.3.61
lazy-object-proxy==1.12.0
torchdata==0.11.0
polars==1.35.2
aiosignal==1.4.0
fastuuid==0.14.0
seaborn==0.13.2
libcugraph-cu12==25.4.1
docopt==0.6.2
biopython==1.85
httpx-sse==0.4.3
environs==11.2.1
googleapis-common-protos==1.70.0
opentelemetry-api==1.37.0
nltk==3.8.1
lz4==4.4.5
omegaconf==2.2.3
colorful==0.5.8
nvidia-ml-py==12.575.51
distlib==0.4.0
faiss-gpu-cu12==1.13.0
opentelemetry-sdk==1.37.0
python-dotenv==1.1.1
Farama-Notifications==0.0.4
torchao==0.14.1
kubernetes==34.1.0
patsy==1.0.2
cuvs-cu12==25.4.0
comment_parser==1.2.4
pydbow==0.1.2
tokenstream==1.7.0
tenacity==8.5.0
typing-inspection==0.4.2
tomli==2.3.0
importlib_resources==6.5.2
nvidia-cuda-runtime-cu12==12.8.90
opentelemetry-proto==1.37.0
bolt==0.49.2
hyppo==0.5.2
libraft-cu12==25.4.0
openxlab==0.1.2
sympy==1.14.0
ipywidgets==8.1.7
cffi==2.0.0
loguru==0.7.3
tb-nightly==2.21.0a20251023
aiohappyeyeballs==2.6.1
tikzplotlib==0.10.1
courlan==1.3.2
absl-py==2.3.1
graspologic==3.4.4
nvidia-cufile-cu12==1.13.1.3
lxml_html_clean==0.4.3
PuLP==3.3.0
crcmod==1.7
msal==1.34.0
lancedb==0.9.0
chromadb==1.1.1
bidict==0.23.1
orjson==3.11.3
urllib3==2.6.2
vot-toolkit==0.7.4
durationpy==0.10
langchain-text-splitters==0.3.11
pluggy==1.6.0
GitPython==3.1.45
dask-mpi==2025.10.0
nvidia-nvjitlink-cu12==12.8.93
pycuda==2025.1.1
labmaze==1.0.6
tyro==0.9.35
ConfigArgParse==1.7.1
tensorflow-metadata==1.17.2
contourpy==1.3.2
filelock==3.25.0
affine==2.4.0
rpds-py==0.27.1
nvidia-nvtiff-cu12==0.6.0.78
Werkzeug==3.1.3
itsdangerous==2.2.0
transformations==2025.1.1
rmm-cu12==25.4.0
lance-namespace-urllib3-client==0.0.20
jupyterlab_widgets==3.0.15
Markdown==3.9
plyfile==1.1.3
antlr4-python3-runtime==4.9.3
model-index==0.1.11
pykitti==0.3.1
anywidget==0.9.21
beartype==0.18.5
simple-knn==0.0.0
ExifRead-nocycle==3.0.1
braceexpand==0.1.7
nvidia-curand-cu12==10.3.9.90
asttokens==3.0.1
nest_asyncio==1.6.0
certifi==2026.2.25
cuda-bindings==12.9.4
transforms3d==0.4.2
nvidia-nvshmem-cu12==3.4.5
nvidia-cuda-nvrtc-cu12==12.8.93
transformers==5.2.0
simple_knn==0.0.0
glob2==0.7
pillow==12.1.1
debugpy==1.8.20
numpy==2.2.6
click==8.3.1
six==1.17.0
safetensors==0.7.0
nvidia-cusolver-cu12==11.7.3.90
nbformat==5.10.4
nvidia-cudnn-cu12==9.10.2.21
plotly==6.5.2
annotated-doc==0.0.4
parso==0.8.6
pure_eval==0.2.3
executing==2.2.1
tqdm==4.67.3
httpx==0.28.1
scikit-learn==1.7.2
PyYAML==6.0.3
regex==2026.2.19
nvidia-cufft-cu12==11.3.3.83
scipy==1.15.3
psutil==7.2.2
opencv-contrib-python==4.13.0.92
idna==3.11
typer==0.24.1
ptyprocess==0.7.0
mdurl==0.1.2
hf-xet==1.3.1
huggingface_hub==1.4.1
nvidia-cusparse-cu12==12.5.8.93
anyio==4.12.1
ipython==8.37.0
setuptools==82.0.0
python-dateutil==2.9.0.post0
datasets==4.5.0
exceptiongroup==1.3.1
comm==0.2.3
jedi==0.19.2
Pygments==2.19.2
open3d==0.19.0
evaluate==0.4.6
nvidia-nccl-cu12==2.27.5
tokenizers==0.22.2
rich==14.3.3
Jinja2==3.1.6
opencv-python==4.13.0.92
httpcore==1.0.9
typer-slim==0.24.0
albumentations==1.4.24
nvidia-cublas-cu12==12.8.4.1
accelerate==1.12.0
pickleshare==0.7.5
nvidia-cuda-cupti-cu12==12.8.90
dataclasses==0.6
wandb==0.25.0
albucore==0.0.23
decorator==5.2.1
nvidia-nvtx-cu12==12.8.90
scikit-image==0.25.2
platformdirs==4.9.2
opencv-python-headless==4.13.0.92
h11==0.16.0
torchvision==0.25.0
fsspec==2026.2.0
jupyter_client==8.8.0
typing_extensions==4.15.0
triton==3.6.0
torch==2.10.0
pip==26.0.1
pexpect==4.9.0
stack_data==0.6.3
fire==0.7.1
filelock==3.24.3
colorama==0.4.6
timm==1.0.25
wheel==0.46.3
jupyter_core==5.9.1
MarkupSafe==3.0.3
markdown-it-py==4.0.0
webdataset==0.2.111
wcwidth==0.6.0
diff_gaussian_rasterization==0.0.0
pyarrow==23.0.1
nvidia-cuda-runtime-cu12==12.8.90
ipykernel==7.2.0
img2dataset==1.47.0
packaging==26.0
pyzmq==27.1.0
matplotlib-inline==0.2.1
shellingham==1.5.4
traitlets==5.14.3
prompt_toolkit==3.0.52
tornado==6.5.4
plyfile==1.1.3
